body {
	margin:0;
	text-align:center;
}

	body .slider {
		overflow:hidden; /* Скрываем всё что за блоком слайдера */
		position:relative;
		width:800px;
		height:500px;
		margin:0 auto;
	}
	
		body .slider .slides {
			position:relative;
			transition:1s; /* Задаем время изменения блока, отвечает за плавную прокрутку */
		}
		
			body .slider .slides .slide {
				float:left;
				display:block;
			}
			
			body .slider .slides .slide {
				width:800px;
				height:500px;
                margin-top: 180px;
			}
				
		
	body .slider .navigation {
		position:absolute;
		width:100%;
		bottom:40px;
		left:0;
		z-index:1;
		cursor:pointer;
	}
	
		body .slider .navigation .dot{
			display:inline-block;
			width:10px;
			height:10px;
			background-color: rgb(176, 232, 230);
			cursor:pointer;
			border-radius: 50%;
			margin:0 20px;
			border:1px solid #666666;
		}
		
		body .slider .navigation .active{
			background-color: rgb(255, 255, 255);
            width:14px;
			height:14px;
		}
.text {
    text-align: center;
}